.screenContainer {
  background-color: pink;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
}

.screen {
  background-color: lightpink;
  height: 300px;
  width: 80%;
  max-width: 800px;
  margin: auto;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.questionText {
  font-size: 100px;
  margin: auto;
}