body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

.answer {
  background-color: black;
  height: 100vh;
  width: 100vh;
}

/*
----------------------------------------------------------------------------------------------------
ヘッダー
----------------------------------------------------------------------------------------------------
*/
.answerHeader {
  float: inline-start;
  background-color: #E2B091;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  text-align: center;
}

.kari {
  font-size: 30px;
  margin: 0;
}

/*
----------------------------------------------------------------------------------------------------
問題表示画面
----------------------------------------------------------------------------------------------------
*/
.screenContainer {
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 50%;
  display: flex;
}

.screen {
  height: 95%;
  width: 95%;
  margin: auto;
  background-color: black;
}

.questionText {
  color: white;
  font-size: 20px;
  margin: auto;
}

/*
----------------------------------------------------------------------------------------------------
解答画面
----------------------------------------------------------------------------------------------------
*/
.answerScreen {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 50%;
  display: flex;
}

.choices {
  height: 100%;
  width: 100%;
}

.choice {
  background-color: rgb(0, 0, 0);
  height: 25%;
  width: 90%;
  display: block;
  border: solid 2px #ffffff;
  box-sizing: border-box;
}

.choiceButton {
  color: rgb(230, 230, 230);
  border: none;
  background: transparent;
  height: 100%;
  width: 100%;
  padding: 0;
}

/*.choice:hover {
  box-shadow: none;
  transform: translateY(5px);
}*/

.next {
  background-color: black;
  display: inline-block;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nextButton {
  margin: auto;
  height: 80%;
  width: 80%;
}