.answerScreen {
  background-color: greenyellow;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
}

.displayArea {
  background-color: cornflowerblue;
  height: 60%;
  max-height: 400px;
  width: 60%;
  max-width: 600px;
  margin: auto;
}

.choice {
  background-color: darkblue;
  float: left;
  height: 50%;
  width: 50%;
  box-sizing: border-box;
  border: 20px solid ;
}

.choiceButton {
  height: 100%;
  width: 100%;
}